# Webhook de registro (LeadConnector / GoHighLevel)
VITE_WEBHOOK_REGISTRO="https://services.leadconnectorhq.com/hooks/kU4URJgWDNYci1iLXzD8/webhook-trigger/u8Vy6B5d6kw7lZqNjJ9Z"

# Webhook de calificación y agendamiento (LeadConnector / GoHighLevel)
VITE_WEBHOOK_CALIFICACION="https://services.leadconnectorhq.com/hooks/kU4URJgWDNYci1iLXzD8/webhook-trigger/yWmEJHsLZ2oDn7PyuT9Y"

# Meta Pixel ID (Facebook Pixel)
VITE_PIXEL_ID="1365301388867066"
